#flagContainer {
  margin: 25px auto;
 display: grid;
grid-template-columns: repeat(auto-fit, 250px);
gap: 25px;
justify-content: center;
}

.countryFlag {
  width: 100%;
  height: 160px;
  object-fit: cover;

}

.countryCard{
  width: 250px;
}

.flagPlaceholder {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.flagArea {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}